body{
    background-color: #000000;
    margin: auto;
    
}
.nav-bar{
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.btn-menu{
    background-color: #000000;
    height: 100%;
    padding: 0;
    margin: 0;
}

li{
    text-align: center ;
    height: 60px;
    font-size: 18px;

}

ul{
    padding: 0;
    margin: 0;
}
.btn-font{
    padding-top: 20px;
    color: white;
    font-size: 18px;
    animation: nav-menu 400ms ease-in;
}

.btn-font:hover{
    height: 60px;
    background-color: #000000;
    color: #45EDA1;
}

.btn-font::after{
    background-color: #000000;
    color: #000000;
}

.btn-font::before{
    background-color: #000000;
    color: #000000;
}

.btn-close{
    position: absolute;
    left: 328px;
    top: 10px;
    padding-top: 0px;
    margin-top:10px ;
    font-size: 42px;
    width: 0px;
    height: 0px;
    background-color: rgba(255, 192, 203, 0);
    color: rgb(255, 255, 255);
    animation: nav-menu 400ms ease-in;
}

.btn-close:hover{
    background-color: #000000;
    color: #45EDA1;
}


a:hover{
background-color:rgba(0, 0, 0, 0) ;
color: #45eda100;
}

a{
    text-decoration: none;
}


@keyframes nav-menu {

    0%{
        transform: scale(0);
    }
    
   90%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}


#BG4{
    position: absolute;
    width: 375px;
    height: 1055px;
    left: 0px;
    top: 90px;

    background: #efefef;
}

.top-header{
    position: absolute;
    width: 339px;
    height: 86px;
    left: 18px;
    top: 190px;

    font-family: 'Effra';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    }


.findtrend-header{
    position: absolute;
    width: 335px;
    height: 86px;
    left: 20px;
    top: 35px;

    font-family: 'Effra';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
}

#platform{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 376px;
    height: 64px;
    left: 0px;
    top: 336px;

    max-height: 120px;
    border: 0px;
    display: flex;
    overflow-x: auto;
}

.buttons{
    width: 64px;
    height: 64px;
    
    /* Inside auto layout */

    flex: none;
    order: 0.1;
    flex-grow: 0;
    border:0px;
    border-radius: 10px;

   
}

.buttons:hover{
    background-color: #45EDA1;
}


#view-more-trend:hover{
    background-color: #45EDA1;
    color: #000000;
    border: none;
}

.platform::-webkit-scrollbar{
width: 0;
}

.platform .buttons{
min-width: 110px;
height: 110px;
line-height: 110px;
background-color: #ddd;
margin-right: 2px;
}



.tweet-img{
    position: absolute;
    width: 339px;
    height: 116px;
    left: 18px;
    top: 430px;
}

.tweet-img-2{
    position: absolute;
    width: 339px;
    height: 344px;
    left: 18px;
    top: 565px;      
}

.tweet-img-3{
    position: absolute;
    width: 339px;
    height: 116px;
    left: 18px;
    top: 928px;
}

#view-more-trend{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

      
    flex: none;
    order: 0;
    flex-grow: 0;

    position: absolute;
    width: 190px;
    height: 44px;
    left: 93px;
    top: 1100px;
    background-color: #000000;
    color: white;

    font-family: 'Effra';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */
    border-radius: 40px;
    

}